<ul class="socials clearfix">
  <li>
      <a class="facebook label label-default" href="{{site.author.facebook}}">
      <i class="ico-facebook"></i>  <span>Facebook</span>
    </a>
  </li>    
  <li>
    <a class="linkedin label label-default" href="{{site.author.linkedin}}">
      <i class="ico-linkedin"></i>  <span>Linkedin</span>
    </a>
  </li>
  <li>
    <a class="github label label-default" href="{{site.author.github}}">
      <i class="ico-github"></i>  <span>Github</span>
    </a>
  </li>
  <li>
    <a class="mail label label-default" href="mailto:{{site.author.email}}">
      <i class="ico-mail"></i>  <span>Email</span>
    </a>
  </li>
</ul> 
