body { 
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.header-app {
  background: #f9f9f9;

  a {
    color: #333;
    
    &:hover {
      text-decoration: none;
    }
  }
}
.logo {
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;
  margin: 0;
  padding: 15px;

  a {
    display: block;
    color: #c0392b;
  }

  span {
    display: inline-block;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 3px solid #f0f0f0;
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
  }
}
.content {
  padding: 100px 0;
}
.post-item {
  .container {
    font-size: 18px;
    margin-bottom: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #dededc;

    h2 {
      margin-top: 0;

      a {
        color: #c0392b;
      }
    }
  }

  .post-highlight-image { border: 1px solid #dededc; }

  .post-date {
    font-size: 24px;
    font-weight: 300;
    color: #ccc;
    padding: 15px 0;
  }

  &:last-child .container {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.footer-app {
  color: #999;

  .container {
    padding-top: 100px;
    margin-top: 100px;
    border-top: 1px solid #dededc;
  }
  
  a {
    color: #999;
    font-weight: bold;
  }
}

.socials {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;

  a { font-weight: normal; color: #fff; }

  li {
    font-size: 18px;
    display: inline-block;
    background: #999;

    i {
      margin-right: 4px;
    }
  }
}