<div class="post-author" itemprop="author">
  <div class="author-details"  itemscope itemtype="http://schema.org/Person">
    <h3>
      <img class="avatar" src="http://www.gravatar.com/avatar/6587f959972fd3149624a9762bbfc287?s=78&d=identicon"> 
      <a class="post-author-title" itemprop="name" href="{{site.author.googleplus}}">{{site.author.name}}</a>
    </h3>

    <p class="post-author-description">Desenvolvedor Front End e consultor da vida.</p>

    <div class="social-links">
      <p class="email-author">
        <a href="mailto:{{site.author.email}}">
          <i class="ico-mail"></i>  {{site.author.email}}
        </a>
      </p>

      <a href="{{site.author.facebook}}">
        <i class="social-ico ico-facebook"></i>  <span class="hide">Facebook</span>
      </a>
     
      <a href="{{site.author.github}}">
        <i class="social-ico ico-github"></i>  <span class="hide">Github</span>
      </a>

      <a href="{{site.author.linkedin}}">
        <i class="social-ico ico-linkedin"></i>  <span class="hide">Linkedin</span>
      </a>
    </div>
  </div>
</div><!--post-author-->