<div class="newsletter clearfix">
  <div id="mc_embed_signup">
    <form action="http://leandrooriente.us8.list-manage1.com/subscribe/post?u=99f9dd75f012ce69bb7fe8d39&amp;id=38b28876a3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <h3>
        <label for="mce-EMAIL">Nunca perca um post</label>
      </h3>
      <div class="catch-email clearfix">
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="seu@email.com" required>
        <div style="position: absolute; left: -5000px;">
          <input type="text" name="b_99f9dd75f012ce69bb7fe8d39_38b28876a3" tabindex="-1" value="">
        </div>
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"><i class="ico-mail"></i> assinar</button>
      </div>
    </form>
  </div>
</div>