<h2><i class="icon-share"></i> Espalhe a palavra</h2>
<div class="social-container" id="social-container">
  <div id="fb-root"></div>

  <div class="fb-like" data-href="{{site.production_url }}{{page.url}}" data-width="95" data-layout="button_count" data-show-faces="false" data-send="false"></div>

  <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{site.production_url }}{{page.url}}" data-via="leandrooriente">Tweet</a>

	<div class="g-plus" data-action="share" data-annotation="bubble"></div>

</div>