			<ul class="socials clearfix">
                <li><a class="facebook" href="{{site.author.facebook}}"><i class="icon-facebook"></i> Facebook</a></li>    
                <li><a class="linkedin" href="{{site.author.linkedin}}"><i class="icon-linkedin"></i> Linkedin</a></li>
                <li><a class="picture" href="{{site.author.500px}}"><i class="icon-picture"></i> 500px</a></li>
                <li><a class="instagram" href="{{site.author.instagram}}"><i class="icon-instagram"></i> Instagram</a></li>
                <li><a class="mail" href="mailto:{{site.author.email}}"><i class="icon-envelope"></i> Email</a></li>
            </ul>
