---
layout: default
type: post
---

<div class="post-item post-page">
  <div class="container">
    <header class="post-header clearfix">
      <h1 class="post-title">
        {{ page.title }}
      </h1>
      <p class="post-date">{{ page.date | date_to_string }}</p>
    </header>
    {% if page.image_highlight %}
    <img src="{{ page.image_highlight }}" alt="{{ page.title }}" class="img-rounded img-responsive post-highlight-image">
    {% endif %}
    <div class="post-content">
        {{ content }}
    </div> <!-- post-content --> 
    <div class="post-author row">
      <div class="col-md-3 col-xs-3">
        <img src="/media/profile.jpg" class="profile-pic img-circle" alt="">
      </div>
      <div class="col-md-9 col-xs-9">
        <div class="author-details">
          <a class="post-author-title" href="{{site.author.googleplus}}">{{site.author.name}}</a>
          <p class="post-author-description">Desenvolvedor Front End, fotógrafo amador e consultor da vida.</p>

          <div class="share-post">
            {% include share-provider.html %}
          </div>
        </div>
      </div>
    </div><!--post-author-->
    <ins id="side-post-ad" class="adsbygoogle ad-side-post"></ins>
  </div>
</div><!-- post-item -->
<ins class="adsbygoogle footer-post-ad ads" id="footer-post-ad"></ins>
{% include comments.html %}
{% include related.html %}