---
layout: default
type: post
---

<div class="post-item post-page" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="container">
    <header class="post-header clearfix">
      <h1 class="post-title" itemprop="name">
        {{ page.title }}
      </h1>
      <meta itemprop="datePublished" content="{{ page.date  | date_to_xmlschema }}"/>
      <p class="post-date">{{ page.date | date_to_string }}</p>
    </header>
    {% if page.image_highlight %}
    <img src="{{ page.image_highlight }}" alt="{{ page.title }}" class="img-rounded img-responsive post-highlight-image">
    {% endif %}
    <div class="post-content"  itemprop="articleBody">
        {{ content }}
    </div> <!-- post-content --> 
    
    <div class="share-post clearfix">
      {% include share-provider.html %}
    </div>

    <div class="newsletter clearfix">
      <div id="mc_embed_signup">
        <form action="http://leandrooriente.us8.list-manage1.com/subscribe/post?u=99f9dd75f012ce69bb7fe8d39&amp;id=38b28876a3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <h3>
            <label for="mce-EMAIL">Nunca perca um post</label>
          </h3>
          <div class="catch-email clearfix">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="seu@email.com" required>
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_99f9dd75f012ce69bb7fe8d39_38b28876a3" tabindex="-1" value="">
            </div>
            <input type="submit" value="assinar" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </form>
      </div>
    </div>
    
    <div class="post-author" itemprop="author">
      <div class="author-details"  itemscope itemtype="http://schema.org/Person">
        <h3>
          <img class="avatar" src="http://www.gravatar.com/avatar/6587f959972fd3149624a9762bbfc287?s=78&d=identicon"> 
          <a class="post-author-title" itemprop="name" href="{{site.author.googleplus}}">{{site.author.name}}</a>
        </h3>

        <p class="post-author-description">Desenvolvedor Front End e consultor da vida.</p>
      </div>
    </div><!--post-author-->
  </div>
</div><!-- post-item -->
{% include comments.html %}
{% include related.html %}
